DEBUG=True

DB_HOST='localhost'
DB_USER='koseki'
DB_DATABASE='koseki'
DB_PASSWORD=''

SMTP_SERVER='localhost'
EMAIL_FROM='ACME Member management <member@acme.nu>'
EMAIL_SUBJECT='ACME Member management'

BOARD_EMAIL='board@acme.nu'

URL_BASE='http://localhost:5000'

# Ending of '/cas' will be applied automatically
CAS_SERVER='https://ldpv3.acme.nu/idp/profile'

FOOTER = 'koseki &copy; MMXIII'
