DEBUG = True

DB_HOST = "127.0.0.1"
DB_USER = "root"
DB_DATABASE = "koseki"
DB_PASSWORD = "password"

SMTP_SERVER = "127.0.0.1"
EMAIL_FROM = "ACME Member management <member@acme.nu>"
EMAIL_SUBJECT = "ACME Member management"

ORG_NAME = "ElektroTekniska Föreningen vid LTH"
ORG_EMAIL = "board@acme.nu"

URL_BASE = "http://localhost:5000"

# Ending of '/cas' will be applied automatically
CAS_SERVER = "https://ldpv3.acme.nu/idp/profile"

# Password used for Kiosk unlock
KIOSK_KEY = "123"
