[Unit]
Description=Koseki

[Service]
User=root
WorkingDirectory=/srv/koseki
ExecStart=/srv/koseki/start_production.sh
Restart=always

[Install]
WantedBy=multi-user.target
