* {
    outline: 0px solid red;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,0.5);
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.bg-custom-blue {
    background-color: #2D3E81 !important;
}

.bg-custom-black {
    background-color: #000000 !important;
}

.bg-custom-grey {
    background-color: #535C50 !important;
}

.bg-custom-grey-comp1 {
    background-color: #B9B9B9 !important;
}

.bg-custom-grey-comp2 {
    background-color: #F0F0F0 !important;
}

.base-modal {
    background: url(../img/grimeton.jpg) no-repeat center bottom fixed;
    background-size: cover;
}

.base-modal .card-header {
    height: 141px;
    border: 0;
    background: url(../img/login-head.png) no-repeat;
}

.base-modal .alternate {
    border-left: 1px solid #B9B9B9;
}

@media screen and (max-width: 575px) {
    .base-modal .main-login {
        border-left: 1px solid #B9B9B9;
    }
}

.footer-register>div>div>.form-group,
.footer-register-fee>div>div>.form-group,
.footer-register-payment>div>div>.form-group {
    margin-bottom: 0;
}
.footer-register-fee {
    border-top: 5px solid #52c41a;
}
.footer-register-payment {
    border-top: 5px solid #faad14;
}