{% extends "mail/base_mail.html" %}
{% block title %}{{ member.fname }} {{ member.lname }} has been enrolled{% endblock %}

{% block content %}

<b>Hello, {{ member.fname }}.</b>

<br /><br />

You have now been enrolled.

<br /><br />

Your membership is activated when your membership fee has been registered.<br />
If you have already paid the fee, please disregard this mail. Otherwise please:

<br /><br />

A) Pay the yearly fee of {% config["PAYMENT_YEARLY_FEE"] %} kr to Bankgiro {% config["PAYMENT_METHOD_BANKGIRO"] %}. Please state your name as reference.

<br /><br />

<b>or</b> B) Pay the yearly fee of {% config["PAYMENT_YEARLY_FEE"] %} kr via Swish to {% config["PAYMENT_METHOD_SWISH"] %}.

<br /><br />

<b>or</b> C) Pay the fee by cash to the treasurer.

<br /><br />

You may visit your membership profile for more information about your membership.<br />
If you have not already set a password, please click the "Reset password" button:

<br /><br />

<b>Membership system:</b> <a target="_blank" href="{{ config['URL_BASE'] }}">
    {{ config['URL_BASE'] }}
</a>

{% endblock %}