{% extends "mail/base_mail.html" %}
{% block title %}Your password has been reset{% endblock %}

{% block content %}

<b>Dear {{ member.fname }} {{ member.lname }},</b>

<br /><br />

You have requested a password reset. Please log in to the membership system and change it now. You can change it under
"My Membership". If this was not you, please <a href="mailto:{{ config['ORG_EMAIL']|safe }}">contact a
    board member</a> immediately.

<br /><br />

Temporary password: <b>{{ new_pass }}

{% endblock %}