<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/bootstrap.min.css" />
        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="modal">
            <div class="modal-header">
                {% block header %}
                <h3>{% block modal_title %} {% endblock %}</h3>
                {% endblock %}
            </div>
            <div class="modal-body">
                {% block content %} {% endblock %}
            </div>
            <div class="modal-footer">
                {% block footer %}
                <small class="muted">{{ config['FOOTER']|safe }}</small>
                {% endblock %}
            </div>
        </div>
    </body>
</html>
