<!-- -->
{% extends "base.html" %}
<!-- -->
{% block body_class %}base-modal{% endblock %}
<!-- -->
{% block body_content %}
<div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center">
        <div class="col-sm-9 col-md-7 col-lg-6 col-xl-5 col-xxl-4">
            <div class="card mb-3">
                <div class="card-header border-0 p-4">
                    <img src="{{ config['URL_BASE']|safe }}/static/img/login-logo.png" class="img-fluid" alt="Logo">
                </div>
                <div class="py-1 bg-primary koseki-modal-separator w-100"></div>
                <div class="card-body px-0">
                    {% if alerts %}
                    <div class="container py-2">
                        {% for alert in alerts %}
                        <div class="alert {{ alert.type }}">
                            <h4>{{ alert.title }}</h4>
                            {{ alert.message }}
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% block content %} {% endblock %}
                </div>
                <div class="card-footer text-muted">
                    {% block footer %}
                    <small class="text-muted">{{ config['FOOTER']|safe }}</small> {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}