<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/fontawesome-5.css" />
    <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/koseki.css" />
    <link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/custom.css" />

    <script src="{{ config['URL_BASE']|safe }}/static/js/jquery.min.js"></script>
    <script src="{{ config['URL_BASE']|safe }}/static/js/jquery-ui.min.js"></script>
    <script src="{{ config['URL_BASE']|safe }}/static/js/popper.min.js"></script>
    <script src="{{ config['URL_BASE']|safe }}/static/js/bootstrap.min.js"></script>
    <script src="{{ config['URL_BASE']|safe }}/static/js/koseki.js"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block base_scripts %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    {% block body_content %}{% endblock %}
</body>

</html>