<!-- -->
{% extends "base_modal.html" %}
<!-- -->
{% block title %}CAS{% endblock %}
<!-- -->
{% block content %}
<div class="alert alert-danger">
    <h4 class="alert-heading">CAS Authentication failed!</h4>
    <p class="mb-0">
        {% if error == 'unknown-uid' %}
        <!-- -->
        CAS login was successful, but your identity is not known to this system.
        <!-- -->
        {% elif error == 'cas-failed' %}
        <!-- -->
        CAS failed to verify your identity.
        <!-- -->
        {% elif error == 'cas-url-error' %}
        <!-- -->
        Koseki was unable to contact the CAS servers.
        <!-- -->
        {% else %}
        <!-- -->
        CAS authentication failed for an unknown reason.
        <!-- -->
        {% endif %}
    </p>
</div>
<a href="/" class="btn btn-secondary">
    <i class="fas fa-lock me-1"></i> Sign in
</a>
<!-- -->
{% endblock %}