<!-- -->
{% extends "base_kiosk.html" %}
{% from "macros.html" import render_field %}
<!-- -->
{% block title %}Kiosk{% endblock %}
<!-- -->
{% block scripts %}
<script>
    function buyProduct(pid) {
        $('#product_id').val(pid);
        $('#product_id').parent().submit();
    }
</script>
{% endblock %}
{% block content %}
<h1 class="text-center display-5 font-weight-bold pb-5">
    Logged in as {{ person.fname}} {{ person.lname}}
    <a href="{{ url_for('kiosk_card') }}" class="btn btn-warning btn-lg ml-3">Logout</a>
</h1>

<form action="" method="post" class="d-none">
    {{ form.hidden_tag() }}
</form>

<div class="container">
<div class="row">
{% for product in products %}
    <div class="col-4 pb-3">
        <div class="card border-primary h-100">
            <img class="card-img-top border-bottom-blue p-3" src="{{ product.img_url }}" alt="Product image" style="max-height: 250px">
            <div class="card-body pb-0">
                <h3 class="card-title font-weight-bold">{{ product.name }}</h3>
                <div class="row">
                    <div class="col-6">
                        <p class="font-weight-bold text-primary display-4">{{ product.price }} kr</p>
                    </div>
                    <div class="col-6">
                        <a href="javascript:buyProduct({{ product.pid }})" class="btn btn-primary btn-lg float-right mt-3">BUY NOW</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
</div>


{% endblock %}