{% extends "base_main.html" %}
{% from "macros.html" import fee_tabs, fee_method, fee_id %}
{% block title %}List fees{% endblock %}
{% block content %}

<h1>List fees</h1>
{{ fee_tabs('list_fees') }}

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 40px">#</th>
                <th>Member</th>
                <th>
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#">Registered <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div style="display: block; padding: 3px 20px;">Filter:</div>
                            </li>
                            <li>
                                <div style="display: block; padding: 3px 20px;"><label class="checkbox-inline"><input
                                            class="fee_registered_filter" type="checkbox"> Only this year</label></div>
                            </li>
                        </ul>
                    </div>
                </th>
                <th>Start</th>
                <th>End</th>
                <th>Amount</th>
                <th>Method</th>
                <th>Registered by</th>
            </tr>
        </thead>
        <tbody id="fees_list">
            {% if fees %}
            {% for fee in fees %}
            <tr data-registered="{{ fee.registered|date }}">
                <td>{{ fee_id(fee.fid, fee.start, fee.end, now()) }}</td>
                <td><a href="{{ url_for('member_general', uid=fee.uid) }}">{{ uid_to_name(fee.uid) }}</a></td>
                <td>{{ fee.registered|date }}</td>
                <td>{{ fee.start|date }}</td>
                <td>{{ fee.end|date }}</td>
                <td>{{ fee.amount }}</td>
                <td>{{ fee_method(fee.method) }}</td>
                <td><a
                        href="{{ url_for('member_general', uid=fee.registered_by) }}">{{ uid_to_name(fee.registered_by) }}</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">
                    <i>No fees registered so far.</i>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}