{% extends "base_modal.html" %}
{% block title %}Sign in{% endblock %}
{% block modal_title %}Sign in{% endblock %}
{% block body_class %}modal-login{{ ' modal-login-alternate' if alternate }}{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
{% if alert %}
<div class="alert {{ alert.class }}">
    <h4>{{ alert.title }}</h4>
    {{ alert.message }}
</div>
{% endif %}
<form class="form-horizontal" action="" method="post">
    <input type="hidden" name="redir" value="{{ redir }}">
    <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
            <input type="text" id="inputEmail" name="email" placeholder="Email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
            <input type="password" id="inputPassword" name="password" placeholder="Password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary"><i class="icon-white icon-lock"></i> Sign in</button>
            <a class="btn">Reset password</a>
        </div>
    </div>
</form>
{% if alternate %}
<div class="alternate">
    <small>
    {{ alternate['text'] }}
    </small>
    <a href="{{ alternate['url'] }}" class="btn btn-primary" style="margin-top:10px;">
        <i class="icon-white icon-lock"></i> {{ alternate['button'] }}</a>
</div>
{% endif %}
{% endblock %}
