<!-- -->
{% extends "base_modal.html" %}
{% from "macros.html" import render_field, render_submit %}
<!-- -->
{% block title %}Sign in{% endblock %}
<!-- -->
{% block content %}
<div class="container py-4">
    <form action="" method="post">
        {{ form_login.hidden_tag() }}
        <input type="hidden" name="redir" value="{{ redir }}">
        {{ render_field(form_login.email, inline=True) }}
        {{ render_field(form_login.password, inline=True) }}
        <div class="row justify-content-end">
            <div class="col-sm-10">
                {{ render_submit(form_login.submit_login, class="btn btn-primary", icon="lock") }}
                <a class="btn btn-secondary" href="{{ url_for('reset_password') }}">Reset password</a>
            </div>
        </div>
    </form>
    {% if sso_providers %}
    <div class="border-bottom border-primary border-5 w-100 mt-5 mb-4"></div>
    <h1 class="text-center text-primary fw-bold">Login with SSO</h1>
    {% for sso_provider in sso_providers %}
    <div class="mb-3 text-center">
        <small>{{ sso_provider['text'] }}</small>
        <br /><br />
        <a href="{{ sso_provider['url'] }}" class="btn btn-primary btn-lg mx-auto"
            style="background-color: {{ sso_provider['color'] }}; border-color: rgba(0, 0, 0, 10%);">
            <i class="fas fa-sign-in-alt me-1"></i> {{ sso_provider['button'] }}</a>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}