<!-- -->
{% extends "base_modal.html" %}
<!-- -->
{% block title %}Sign in{% endblock %}
<!-- -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 main-login">
            <form class="form-horizontal" action="" method="post">
                <input type="hidden" name="redir" value="{{ redir }}">
                <div class="form-group row">
                    <label class="col-sm-3 pe-sm-0 col-form-label text-sm-end" for="email">Email</label>
                    <div class="col-sm-8 pt-1">
                        <input class="w-100" type="text" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 pe-sm-0 col-form-label text-sm-end" for="password">Password</label>
                    <div class="col-sm-8 pt-1">
                        <input class="w-100" type="password" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 mt-3 mt-sm-0 pe-0">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-lock me-1"></i> Sign in
                        </button>
                        <a class="btn btn-secondary" href="{{ url_for('reset_password') }}">Reset password</a>
                    </div>
                </div>
            </form>
        </div>
        {% if alternate %}
        <div class="col-md-4 alternate mt-3 mt-md-0 mb-3">
            <div>
                {{ alternate['text'] }}
            </div>
            <a href="{{ alternate['url'] }}" class="btn btn-primary mt-3">
                <i class="fas fa-lock me-1"></i> {{ alternate['button'] }}</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}