{% import 'bootstrap/wtf.html' as wtf %}

{% macro render_field(field, class='', autofocus=false) %}
<div class="form-group{{ ' error' if field.errors }}">
    {{ wtf.form_field(field, class="form-control " + class, autofocus=autofocus) }}
    {% if field.errors %}
    <span class="help-block text-danger">
        {% for error in field.errors %}
        {{ error }}</br>
        {% endfor %}
    </span>
    {% endif %}
</div>
{% endmacro %}

{% macro render_static(field, class='') %}
<div class="form-group">
    {{ wtf.form_field(field, class="form-control " + class, readonly=True) }}
</div>
{% endmacro %}

{% macro render_submit(field, class='btn-primary', icon='', fakelabel=True) %}
{% if fakelabel %}
<label>&nbsp;</label><br />
{% endif %}
<button id="{{ field.name }}" class="btn {{ class }}" name="{{ field.name }}" type="submit">
    {% if icon != '': %}
    <i class="fa fa-{{ icon }} mr-1"></i>
    {% endif %}
    {{ field.label.text }}
</button>
{% endmacro %}

{% macro status(status) -%}
{% if status == 'active': %}
<h5 class="d-inline"><span class="badge badge-success">Active</span></h5>
{% elif status == 'pending': %}
<h5 class="d-inline"><span class="badge badge-warning">Pending</span></h5>
{% elif status == 'expired': %}
<h5 class="d-inline"><span class="badge badge-danger">Expired</span></h5>
{% else : %}
<h5 class="d-inline"><span class="badge badge-secondary">{{ status }}</span></h5>
{% endif %}
{%- endmacro %}

{% macro group(group) -%}
<h5 class="d-inline"><span class="badge badge-primary">{{ group }}</span></h5>
{%- endmacro %}

{% macro fee_method(method) -%}
<h5 class="d-inline"><span class="badge badge-primary">{{ method if method else 'N/A' }}</span></h5>
{%- endmacro %}

{% macro fee_id(fid, start, end, now) -%}
{% if now > end : %}
<h5 class="d-inline"><span class="badge badge-danger">{{ fid }}</span></h5>
{% elif now > start : %}
<h5 class="d-inline"><span class="badge badge-success">{{ fid }}</span></h5>
{% else : %}
<h5 class="d-inline"><span class="badge badge-warning">{{ fid }}</span></h5>
{% endif %}
{%- endmacro %}

{% macro payment_balance(amount) -%}
{% if amount > 0 : %}
<span class="text-success">{{ amount }} kr</span>
{% elif -500 > amount : %}
<span class="text-danger font-weight-bold">{{ amount }} kr</span>
{% elif 0 > amount : %}
<span class="text-danger">{{ amount }} kr</span>
{% else : %}
<span>{{ amount }} kr</span>
{% endif %}
{%- endmacro %}


{% macro person_header(person, current, grav) -%}
<div class="row mb-3">
    <div class="col-3 col-md-1">
        <a href="//gravatar.com/" target="_new" title="Change your avatar at Gravatar.com">
            {{ gravatar_blob(grav) }}
        </a>
    </div>
    <div class="col-8 col-md-10">
        <h1 class="mt-3">{{ person.fname }} {{ person.lname }}</h1>
    </div>
</div>
<br />
<ul class="pagination">
    {% set tabs = (('','General'),('groups','Groups'),('fees','Fees'),('payments','Payments'),('admin','Power Tools'))
    %}
    {% for uri,name in tabs %}
    <li class="page-item {{ ' active' if current == uri }}">
        <a class="page-link" href="{{ config['URL_BASE'] }}/user/{{ person.uid }}{{ '/'+uri if uri != '' }}">{{ name
            }}</a>
    </li>
    {% endfor %}
</ul>
<hr />
{%- endmacro %}

{% macro fee_tabs(current) -%}
<br />
<ul class="pagination">
    {% for uri,name in (('list_fees','Fees'),('list_payments','Payments'),('register_fee','Register')) %}
    <li class="page-item {{ ' active' if current == uri }}">
        <a class="page-link" href="{{ url_for(uri) }}">{{ name }}</a>
    </li>
    {% endfor %}
</ul>
<hr />
{%- endmacro %}

{% macro membership_tabs(current) -%}
<br />
<ul class="pagination">
    {% for uri,name in (('','Overview'),('edit','Edit profile')) %}
    <li class="page-item {{ ' active' if current == uri }}">
        <a class="page-link" href="{{ config['URL_BASE'] }}/membership{{ '/'+uri if uri != '' }}">{{ name }}</a>
    </li>
    {% endfor %}
</ul>
<hr />
{%- endmacro %}

{% macro gravatar_blob(url, size=80) -%}
<img src="{{ url }}?s=80&d=identicon" width="{{size}}px" height="{{size}}px" style="border-radius: 500px;">
{%- endmacro %}