{% extends "base.html" %}
{% from "macros.html" import render_field, status, membership_tabs, gravatar_blob, fee_id %}
{% block title %}My membership{% endblock %}
{% block content %}
<a href="//gravatar.com/" target="_new" title="Change your avatar at Gravatar.com">{{ gravatar_blob(gravatar(person.email)) }}</a>
<h1>My membership<br><small>{{ person.fname }} {{ person.lname }}</small></h1>
{{ membership_tabs('') }}

<h4>Hello {{ person.fname }}!</h4>
<p>
{% if person.state == 'active' %}
You are currently an <strong>active member</strong>.<br>
Your membership expires <strong>{{ last_fee.end|date if last_fee else "whenever (database inconsistency!)" }}</strong>.
{% elif person.state == 'pending' %}
Your enrollment is <strong>pending</strong>. You will become an active member as soon
as we have registered your payment of the membership fee.
{% elif person.state == 'expired' %}
You are <strong>currently not an active member</strong>. Become an active member by
paying your membership fee.
{% else %}
We're sorry, but the database does not seem to know anything about your
current membership state. Please report this :)
<pre>
state={{ person.state }}
</pre>
{% endif %}
</p>
<h4>Membership profile</h4>
<dl class="dl-horizontal">
    <dt>First name</dt>
    <dd>{{ person.fname }}</dd>
    <dt>Last name</dt>
    <dd>{{ person.lname }}</dd>
    <dt>Email</dt>
    <dd>{{ person.email }}</dd>
    <dt>StiL</dt>
    <dd>{{ person.stil if person.stil else '<span class="muted">None</span>'|safe}}</dd>
    <dt>State</dt>
    <dd>{{ status(person.state) }}</dd>
    <dt>Enrolled</dt>
    <dd>{{ person.enrolled|date }}</dd>
    <dt>Enrolled by</dt>
    <dd>{{ uid_to_name(person.enrolled_by) }}</dd>
</dl>
<h4>Registered membership fees</h4>
<table class="table table-striped table-condensed">
    <tr>
        <th style="width: 24px">#</th>
        <th>Registered</th>
        <th>Valid from</th>
        <th>Until</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Registered by</th>
    </tr>
    {% if person.fees %}
        {% for fee in person.fees %}
            <tr>
                <td>{{ fee_id(fee.fid, fee.start, fee.end, now()) }}</td>
                <td>{{ fee.registered|date }}</td>
                <td>{{ fee.start|date }}</td>
                <td>{{ fee.end|date }}</td>
                <td>{{ fee.amount }}</td>
                <td><span class="label label-info">{{ fee.method if fee.method else 'N/A' }}</span></td>
                <td>{{ uid_to_name(fee.registered_by) }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">
                <i>No fees registered so far.</i>
            </td>
        </tr>
    {% endif %}
</table>
{% endblock %}


