{% extends "base_main.html" %}
{% from "macros.html" import render_field, status, person_header, membership_tabs, fee_method, fee_id,
payment_balance
%}
{% block title %}My membership{% endblock %}
{% block content %}

{{ person_header(person, "My membership", gravatar) }}
{{ membership_tabs("") }}

<h4>Hello {{ person.fname }}!</h4>
<p>
    {% if person.state == "active" %}

    You are currently an <strong>active member</strong>.<br>
    Your membership expires
    <strong>{{ last_fee.end|date if last_fee else "whenever (database inconsistency!)" }}</strong>.

    {% elif person.state == "pending" %}

    Your enrollment is <strong>pending</strong>. You will become an active member as soon
    as we have registered your payment of the membership fee.

    {% elif person.state == "expired" %}

    You are <strong>currently not an active member</strong>. Become an active member by
    paying your membership fee.

    {% else %}

    We're sorry, but the database does not seem to know anything about your
    current membership state. Please report this :)
<pre>
        state={{ person.state }}
    </pre>
{% endif %}
</p>
<h4>Membership profile</h4>
<div class="row">
    <div class="col-4 col-md-2 fw-bold text-end">First name</div>
    <div class="col-8 col-md-10">{{ person.fname }}</div>
    <div class="col-4 col-md-2 fw-bold text-end">Last name</div>
    <div class="col-8 col-md-10">{{ person.lname }}</div>
    <div class="col-4 col-md-2 fw-bold text-end">Email</div>
    <div class="col-8 col-md-10">{{ person.email }}</div>
    {% if plugin_isenabled("salto") %}
    <div class="col-4 col-md-2 fw-bold text-end">StiL</div>
    <div class="col-8 col-md-10">{{ person.stil if person.stil else '<span class="text-muted">None</span>'|safe}}</div>
    {% endif %}
    <div class="col-4 col-md-2 fw-bold text-end">State</div>
    <div class="col-8 col-md-10">{{ status(person.state) }}</div>
    <div class="col-4 col-md-2 fw-bold text-end">Enrolled</div>
    <div class="col-8 col-md-10">{{ person.enrolled|date }}</div>
    <div class="col-4 col-md-2 fw-bold text-end">Enrolled by</div>
    <div class="col-8 col-md-10">{{ uid_to_name(person.enrolled_by) }}</div>
    {% if config["PAYMENT_DEBT_ENABLED"] %}
    <div class="col-4 col-md-2 fw-bold text-end">Balance</div>
    <div class="col-8 col-md-10">{{ payment_balance(person.balance) }}</div>
    {% endif %}
</div>
<br />
<h4>Registered membership fees</h4>
<table class="table table-striped table-sm">
    <tr>
        <th style="width: 24px">#</th>
        <th>Registered</th>
        <th>Valid from</th>
        <th>Until</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Registered by</th>
    </tr>
    {% if person.fees %}
    {% for fee in person.fees %}
    <tr>
        <td>{{ fee_id(fee.fid, fee.start, fee.end, now()) }}</td>
        <td>{{ fee.registered|date }}</td>
        <td>{{ fee.start|date }}</td>
        <td>{{ fee.end|date }}</td>
        <td>{{ fee.amount }}</td>
        <td>{{ fee_method(fee.method) }}</td>
        <td>{{ uid_to_name(fee.registered_by) }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="5">
            <i>No fees registered so far.</i>
        </td>
    </tr>
    {% endif %}
</table>
{% if config["PAYMENT_DEBT_ENABLED"] %}
<br />
<h4>Payments</h4>
<table class="table table-striped table-sm">
    <tr>
        <th style="width: 24px">#</th>
        <th>Registered</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Registered by</th>
        <th>Reason</th>
    </tr>
    {% if person.payments %}
    {% for payment in person.payments %}
    <tr>
        <td>
            <h5 class="d-inline"><span class="badge bg-primary">{{ payment.pid }}</span></h5>
        </td>
        <td>{{ payment.registered|date }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ fee_method(payment.method) }}</td>
        <td>{{ uid_to_name(payment.registered_by) }}</td>
        <td>{{ payment.reason }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="5">
            <i>No fees registered so far.</i>
        </td>
    </tr>
    {% endif %}
</table>
{% endif %}
{% endblock %}