{% extends "base.html" %}
{% from "macros.html" import render_field, status, group, person_tabs, gravatar_blob %}
{% block title %}{{ person.fname }} {{ person.lname }}{% endblock %}
{% block content %}
{{ gravatar_blob(gravatar(person.email)) }}
<h1>{{ person.fname }} {{ person.lname }}</h1>
{{ person_tabs(person.uid, '') }}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>User data</legend>
        <div class="control-row">
            {{ render_field(form.fname) }}
            {{ render_field(form.lname) }}
        </div>
        <div class="control-row">
            {{ render_field(form.email) }}
            <div class="control-group">
                <label class="control-label">Status</label>
                <div class="controls">
                    {{ status(person.state) }}
                </div>
            </div>
        </div>
        <div class="control-row">
            <div class="control-group">
                <label class="control-label">Enrolled</label>
                <div class="controls">
                    {{ person.enrolled|date }}
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Enrolled by</label>
                <div class="controls">
                    <a href="{{ url_for('member_general', uid=person.enrolled_by) if person.enrolled_by else '#' }}">{{ uid_to_name(person.enrolled_by) }}</a>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Ancillary information</legend>
        <div class="control-row">
            {{ render_field(form.stil) }}
        </div>
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-white icon-ok"></i> Save</button>
    </div>
</form>
{% endblock %}

