{% extends "base.html" %}
{% from "macros.html" import render_field, status, group, person_header, fee_method, fee_id %}
{% block title %}{{ person.fname }} {{ person.lname }}{% endblock %}
{% block content %}

{{ person_header(person, 'fees', gravatar(person.email)) }}

<table class="table table-striped table-sm">
    <tr>
        <th style="width: 24px">#</th>
        <th>Registered</th>
        <th>Start</th>
        <th>End</th>
        <th>Amount</th>
        <th>Method</th>
        <th>Registered by</th>
    </tr>
    {% if person.fees %}
    {% for fee in person.fees %}
    <tr>
        <td>{{ fee_id(fee.fid, fee.start, fee.end, now()) }}</td>
        <td>{{ fee.registered|date }}</td>
        <td>{{ fee.start|date }}</td>
        <td>{{ fee.end|date }}</td>
        <td>{{ fee.amount }}</td>
        <td>{{ fee_method(fee.method) }}</td>
        <td><a href="/user/{{ fee.registered_by }}">{{ uid_to_name(fee.registered_by) }}</a></td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="6">
            <i>No fees registered so far.</i>
        </td>
    </tr>
    {% endif %}
</table>
{% endblock %}