{% extends "base.html" %}
{% from "macros.html" import render_field, render_static, status, membership_tabs, gravatar_blob %}
{% block title %}My membership{% endblock %}
{% block content %}
<a href="//gravatar.com/" target="_new" title="Change your avatar at Gravatar.com">{{ gravatar_blob(gravatar(person.email)) }}</a>
<h1>My membership<br><small>{{ person.fname }} {{ person.lname }}</small></h1>
{{ membership_tabs('edit') }}
<form action="" method="post">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>User data</legend>
        <div class="control-row">
            {{ render_field(form.fname) }}
            {{ render_field(form.lname) }}
        </div>
        <div class="control-row">
            {{ render_field(form.email) }}
            {{ render_static('StiL', 'text', person.stil) }}
        </div>
    </fieldset>

    <div class="form-actions">
        <button type="submit" class="btn btn-primary" disabled><i class="icon-white icon-ok"></i> Save</button>
    </div>
</form>
{% endblock %}


