{% extends "base_main.html" %}
{% from "macros.html" import render_field, status, group, person_header %}
{% block title %}{{ person.fname }} {{ person.lname }}{% endblock %}
{% block content %}

{{ person_header(person, 'admin', gravatar(person.email)) }}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <legend>Delete member</legend>
            <div class="form-group">
                <input type="checkbox" name="run_hooks" checked> Run hooks i.e remove from mailing lists, access
                control, etc.
            </div>
            <div class="form-group">
                <input type="checkbox" name="delete_all" checked> Delete fees, groups. Fix enroller id
            </div>
            <div class="form-group">
                <input type="checkbox" name="confirm"> <strong class="text-danger">Yes, I understand that I am about to
                    permanently delete NN</strong>
            </div>
            <div class="">
                <button type="submit" name="delete" class="btn btn-danger"><i
                        class="glyphicon glyphicon-white glyphicon-trash"></i> Delete member</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <form method="post">
            <legend>Delete fees</legend>
            <div class="form-group">
                <input type="checkbox" name="set_expired" checked> Set status to expired
            </div>
            <div class="form-group">
                <input type="checkbox" name="confirm"> <strong class="text-danger">Yes, I understand that I am about to
                    delete the payment history of NN</strong>
            </div>
            <div class="">
                <button type="submit" name="delete" class="btn btn-danger"><i
                        class="glyphicon glyphicon-white glyphicon-trash"></i> Delete fees</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}