{% extends "base.html" %}
{% block title %}Overview{% endblock %}
{% block content %}
<h1>Overview</h1>
<div class="row">
    <div class="span4"><div class="well">
        <h1 style="font-size: 100px; line-height: 80px; text-align: center;">{{ active }}</h1>
        <h3 style="text-align: right;">active members</h3>
    </div></div>
    <div class="span4"><div class="well">
        <h1 style="font-size: 100px; line-height: 80px; text-align: center;">{{ pending }}</h1>
        <h3 style="text-align: right;">pending registrations</h3>
    </div></div>
    <div class="span4"><div class="well">
        <h1 style="font-size: 100px; line-height: 80px; text-align: center;">{{ enrolled }}</h1>
        <h3 style="text-align: right;">enrolled this year</h3>
    </div></div>
</div>
{% endblock %}
