{% extends "base.html" %}
{% from "macros.html" import render_field, store_tabs, fee_method, fee_id %}
{% block title %}Manage products{% endblock %}
{% block content %}

<h1>Manage products</h1>
{{ store_tabs('products') }}

<form action="" method="post">
    {{ addForm.hidden_tag() }}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    {{ render_field(addForm.name) }}
                </div>
                <div class="col-12 col-md-4">
                    {{ render_field(addForm.img_url) }}
                </div>
                <div class="col-12 col-md-2">
                    {{ render_field(addForm.price) }}
                </div>
                <div class="col-12 col-md-2">
                    {{ render_field(addForm.order) }}
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12 col-md-2 submit-form-group-no-margin">
                    {{ render_field(addForm.submitAdd, class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</form>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 24px">#</th>
                <th>Product name</th>
                <th>Image URL</th>
                <th>Price</th>
                <th>Order</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="products_list">
            {% if products %}
            {% for product in products %}
            <tr>
                <td>{{ product.pid }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.img_url }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.order }}</td>
                <td>
                    <form action="" method="post">
                        {{ removeForm.hidden_tag() }}
                        <div class="d-none">
                            {{ render_field(removeForm.pid, value="product.pid") }}
                        </div>
                        <div class="submit-form-group-no-margin">
                            {{ render_field(removeForm.submitRemove, class="btn btn-danger") }}
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">
                    <i>No products registered so far.</i>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}