{% extends "base.html" %}
{% from "macros.html" import render_field, fee_tabs %}
{% block title %}Register fee{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{{ config['URL_BASE']|safe }}/static/css/jquery-ui-1.12.1.min.css" />
<script src="{{ config['URL_BASE']|safe }}/static/js/jquery-ui-1.12.1.min.js"></script>
<script>
    $(function () {
        $(".autocomplete_member").autocomplete({
            source: function (req, resp) {
                $.getJSON("{{ config['URL_BASE']|safe }}/api/ac/members", {
                    term: req.term
                }).done(function (data) {
                    resp(data.data);
                }).fail(function () { response(); });
            }
        });
    });
</script>
{% endblock %}
{% block content %}

<h1>Register fee</h1>
{{ fee_tabs('register_fee') }}

<h3>Membership fee</h3>
<form action="" method="post">
    {{ feeForm.hidden_tag() }}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-3">
                    {{ render_field(feeForm.uid, class='autocomplete_member', autofocus=true) }}
                </div>
                <div class="col-12 col-md-3">
                    {{ render_field(feeForm.amount) }}
                </div>
                <div class="col-12 col-md-3">
                    {{ render_field(feeForm.method) }}
                </div>
                <div class="col-12 col-md-3">
                    {% if member_of('admin') %}
                    {{ render_field(feeForm.retro) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer border-top-green">
            <div class="row">
                <div class="col-12 col-md-2 submit-form-group-no-margin">
                    {{ render_field(feeForm.submitFee, class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</form>

<br />
<hr>
<br />

<h3>Payment or debt</h3>
Remember: When incuring debt, the amount must be negative! (e.g. -20)
<form action="" method="post">
    {{ paymentForm.hidden_tag() }}
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-3">
                    {{ render_field(paymentForm.uid, class='autocomplete_member', autofocus=true) }}
                </div>
                <div class="col-12 col-md-3">
                    {{ render_field(paymentForm.amount) }}
                </div>
                <div class="col-12 col-md-3">
                    {{ render_field(paymentForm.method) }}
                </div>
                <div class="col-12 col-md-3">
                    {{ render_field(paymentForm.reason) }}
                </div>
            </div>
        </div>
        <div class="card-footer border-top-gold">
            <div class="row">
                <div class="col-12 col-md-2 submit-form-group-no-margin">
                    {{ render_field(paymentForm.submitPayment, class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}