<!-- -->
{% extends "base_modal.html" %}
{% from "macros.html" import render_field, render_submit %}
<!-- -->
{% block title %}Reset password{% endblock %}
<!-- -->
{% block content %}
<div class="container py-4">
    <form action="" method="post">
        {{ form_reset_password.hidden_tag() }}
        {{ render_field(form_reset_password.email, inline=True) }}
        <div class="row justify-content-end">
            <div class="col-sm-10">
                {{ render_submit(form_reset_password.submit_reset, class="btn btn-primary", icon="undo") }}
                <a class="btn btn-secondary" href="{{ url_for('login') }}">Go back</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}