<!-- -->
{% extends "base_modal.html" %}
{% from "macros.html" import render_field, render_submit %}
<!-- -->
{% block title %}Reset password{% endblock %}
<!-- -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 main-login">
            <form class="form-horizontal" action="" method="post">
                {{ form_reset_password.hidden_tag() }}
                <div class="form-group row">
                    <label class="col-sm-3 pr-sm-0 col-form-label text-sm-right" for="email">Email</label>
                    <div class="col-sm-8 pt-1">
                        <input class="w-100" type="text" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9 mt-3 mt-sm-0 pr-0">
                        {{ render_submit(form_reset_password.submit_reset, class="btn btn-primary", icon="undo", fakelabel=False) }}
                        <a class="btn btn-secondary" href="{{ url_for('login') }}">Go back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}