{% extends "base_main.html" %}
{% from "macros.html" import render_field, status, group, person_header, member_tabs %}
{% block title %}{{ person.fname }} {{ person.lname }}{% endblock %}
{% block content %}

{{ person_header(person, "Manage member", gravatar) }}
{{ member_tabs("groups", person) }}

<form class="container" action="" method="post">
    <div class="row">
        <table class="col table table-striped table-sm align-middle">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            {% for group in groups %}
            <tr>
                <td>
                    <input type="checkbox" name="{{ group.gid }}" class="form-check-input mx-auto d-block mt-0"
                        style="width: 20px;height: 20px;" {{ ' checked' if member_of(group, person)}} {{ 'disabled' if
                        group.name=='admin' and not member_of('admin') }}>
                </td>
                <td>{{ group(group.name) }}</td>
                <td>{{ group.descr }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="">
        <button type="submit" class="btn btn-primary">
            <i class="fa fa-check me-1"></i> Save
        </button>
    </div>
</form>
{% endblock %}